/* 26. Errror404 */
.four-zero-area {
}

.four-zero-wrapper {
}

.four-zero-img {
	margin-bottom: 45px;
}

.four-zero-img img {
}

.four-zero-text {
}

.four-zero-text h1 {
	font-size: 60px;
	font-weight: 300;
	display: inline-block;
	margin-bottom: 0;
	position: relative;
	top: 15px;
}

.four-zero-text a.btn {
	padding: 22px 73px;
	margin-left: 52px;
}

.basic-pagination ul {
	display: block;
}

.basic-pagination ul li {
	display: inline-block;
}

@media (max-width: 767px) {
	.basic-pagination ul li {
		margin-bottom: 10px;
	}
}

.basic-pagination ul li a {
	height: 70px;
	width: 70px;
	background: #ffffff;
	color: #9990b8;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50%;
	line-height: 70px;
	margin: 0 5px;
	display: inline-block;
	text-align: center;
}

.basic-pagination ul li a:hover {
	background: #fe6b51;
	color: #ffffff;
}

.basic-pagination-2 ul li a {
	background: transparent;
	color: #9990b8;
	border: 2px solid #eaebec;
	height: 60px;
	width: 60px;
	line-height: 56px;
}

.basic-pagination-2 ul li a:hover {
	background: #7c3c21;
	color: #ffffff;
	border-color: #7c3c21;
}

.basic-pagination-2 ul li.active a {
	background: #fe6b51;
	color: #ffffff;
	border-color: #fe6b51;
}
.basic-pagination-2 ul li .indice{
	background: #ffef13;
	color: #7c3c21;
	border-color: #ffef13;
}