/* 8. Choose-us-area */
.choose-us-area {
    background-size: cover;
    background-position: center center;
}
.choose-img {
    margin-left: -282px;
}
.choose-img img {
}
.choose-wrapper {
    margin-left: 32px;
}
.choose-section {
    margin-bottom: 41px;
}
.choose-section h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 27px;
}
.choose-section p {
    margin-bottom: 0;
}
.choose-content {
}
.choose-us-img {
    float: left;
    margin-right: 30px;
}
.choose-us-img img {
}
.choose-text {
    overflow: hidden;
}
.choose-text h4 {
    font-size: 20px;
    font-weight: 300;
    color: #112433;
}
.choose-text p {
    margin-bottom: 0;
    padding-right: 19px;
}
/* choose-2-style */
.choose2-img {
    margin-left: -120px;
}
.single-choose {
    margin-top: 50px;
}
.choose-title {
    margin-bottom: 40px;
}
.choose-title h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 0;
}
.choose2-content {
    margin-bottom: 22px;
}
.choose2-content:last-child {
    margin-bottom: 0;
}
.choose2-icon-img {
    float: left;
    margin-right: 15px;
    margin-top: 7px;
}
.choose2-text {
    overflow: hidden;
}
.choose2-text p {
    margin-bottom: 0;
}
.choose-button {
    margin-top: 40px;
}
.choose-button a.btn {
    background: #ef491a;
    padding: 22px 46px;
}
