
/* 2. Header */
.retina-logo{
	display: block;
	width: 250px !important;
}
.header-transparent {
	border-bottom: 1px solid #ffd799;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: .4s;
}
.header-3{
	margin-top: 20px;
	padding: 0 55px;
}
.header-3 .main-menu nav > ul > li > a {
	color: #daffe6;
}
.header-3 .main-menu nav > ul > li:hover > a, .header-3  .main-menu nav > ul > li.active > a {
	color: #fff;
}
.header-3 .main-menu nav > ul > li > a::after{
	background-image: url("../img/icon/menu-border.png");
	background-repeat: no-repeat;
	content: "";
	height: 3px;
	position: absolute;
	left: -8px;
	transition: all 0.3s ease 0s;
	width: 27px;
	right: 0;
	margin: auto;
	bottom: 12px;
	text-align: center;
	background-position: center;
	transition: .3s;
	opacity: 0;
}
.header-3 .main-menu nav > ul > li.active > a::after{
	opacity: 1
}
.header-3 .main-menu nav > ul > li:hover > a::after{
	opacity: 1
}
.header-3{}
.header-area {
	background-color: #408858;
	border-bottom: 1px solid #ffd799;
	padding-top: 11px;
	padding-bottom: 14px;

	
}
.header-2 {
	border-color: #e9eef2;
}
.header-3 .header-right {
	margin-left: 35px;
	margin-top: 0;
}
.header-3  .mean-container a.meanmenu-reveal {
	border: 1px solid #fff;
	color: #fff;
}
.header-3 .mean-container a.meanmenu-reveal span {
	background: #fff;
	display: block;
	height: 3px;
	margin-top: 4px;
}
.header-wrapper{}
.header-text span {
	color: #fefefe;
	font-size: 13px;
	margin-right: 23px;
}
.header-text span:last-child{margin-right:0;}
.header-text span i {
	color:#7c3c21;
	font-size: 16px;
	height: 36px;
	width: 36px;
	display: inline-block;	
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	transition: .3s;
	margin-right: 5px;
	background:#ffef13;
}
.header-icon a:hover{
	background:#ffef13;
}
.header-icon a {
	color: #7c3c21;
	font-size: 20px;
	height: 36px;
	width: 36px;
	display: inline-block;
	background: #2b7443;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	transition: .3s;
	margin-right: 5px;
}
.header-icon a:hover{color: #7c3c21;}
.header-icon a:last-child{margin-right:0;}
.cart-search {
  margin-right: 30px;
  margin-top: 6px;
}
.header-right {
	margin-left: 35px;
	margin-top: 24px;
}
.header-right ul{}
.header-right ul li {
	display: inline-block;
	margin-left: 10px;
	position: relative;
}
.header-right ul li span {
	background: #112433;
	border-radius: 100%;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	height: 20px;
	left: 20px;
	line-height: 19px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 20px;
}
.header-right ul li a {
	height: 40px;
	width: 40px;
	background: #fff;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	line-height: 45px;
	font-size: 15px;
	color: #374d5f;
}
.header-right ul li a:hover,.header-right ul li.active a {
	background: #408858;
	color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

/* search modal */
#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	outline: 0;
}
#search-modal .modal-dialog .modal-content {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
#search-modal .modal-dialog .modal-content form {
	width: 555px;
	position: relative;
}
#search-modal .modal-dialog .modal-content form input {
	width: 100%;
	font-size: 36px;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.1);
	background: 0 0;
	color: #fff;
	padding-bottom: 12px;
	padding-right: 40px;
}
#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form input::placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form button {
	position: absolute;
	right: 0;
	margin-bottom: 3px;
	font-size: 30px;
	color: rgba(255,255,255,.5);
	background: 0 0;
	border: none;
	cursor: pointer;
	top: 11px;
}

.sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #fff;
}
.sticky.header-3 {
	background: #197850;
	margin-top: 0;
}
.sticky.header-3 .header-right {
	margin-left: 35px;
	margin-top: 0;
}

.main-menu  ul {}
.main-menu nav > ul > li {
	display: inline-block;
	position: relative;
	margin-left: 38px;
}
.main-menu ul li:first-child{margin-left:0}
.main-menu nav > ul > li > a {
	color: #596369;
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 38px 0;
	text-transform: capitalize;
	transition: .3s;
	line-height: 1;
	position: relative;
}
.main-menu nav > ul > li:hover > a, .main-menu nav > ul > li.active > a {
	color: #112433;
}
/* sub-menu */
.main-menu nav > ul > li .sub-menu {
	background: #fff;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 120%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 250px;
	z-index: 9;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
.main-menu nav > ul  > li:hover .sub-menu{opacity:1;top:100%;visibility:visible}
.main-menu nav > ul > li .sub-menu li {
	border-bottom: 1px solid #e6e6e6;
	display: block;
	margin: 0;
}
.main-menu nav > ul  > li .sub-menu li:last-child{border: 0;}
.main-menu nav > ul > li .sub-menu li a {
	color: #6a7680;
	display: block;
	padding: 10px 20px;
	text-align: left;
	text-transform: capitalize;
	transition: .3s;
}

.main-menu nav > ul  > li > .sub-menu li.active > a,
.main-menu nav > ul  > li:hover > .sub-menu li:hover > a{
	color:#408858;
}


/* extra info */
.extra-info {
	background: #152136;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 340px;
	z-index: 9999;
	transform: translateX(100%);
	padding-bottom: 40px;
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info-left{right:inherit;left: 0;transform: translateX(-100%);}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.close-icon > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	color: #ff4a57;
	cursor: pointer;
	font-size: 28px;
	padding: 0;
}
.extra-info > p {
  color: #ddd;
  font-size: 15px;
  line-height: 28px;
}
.instagram img {
  width: 100%;
}
.social-icon-right > a {
	color: #fff;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
.social-icon-right > a:hover {
	color: #fab522;
}
.instagram {
  overflow: hidden;
  margin: 0 -4px;
}
.instagram > a {
	float: left;
	width: 33.33%;
	padding: 0 4px;
	margin-bottom: 7px;
}
.side-info {
	border-top: 1px solid #344159;
	padding-top: 25px;
}
.contact-list h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.contact-list p {
	color: #fff;
	opacity: .7;
	margin: 0;
	margin-bottom: 2px;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.color-ico a{
	color: white;
}

