/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");
body {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
}
.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.fix {
    overflow: hidden;
}
a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    color: #2b96cc;
    text-decoration: none;
}
a,
button {
    color: #408858;
    outline: medium none;
    transition: 0.3s;
}
button {
    cursor: pointer;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    color: #112433;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
p {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: #7b8e9d;
    margin-bottom: 15px;
}
hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}
label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}
*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}
.theme-overlay {
    position: relative;
}
.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
.separator {
    border-top: 1px solid #f2f2f2;
}
/* button style */
.btn {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 22px 45px;
    position: relative;
    text-transform: capitalize;
    transform: perspective(1px) translateZ(0px);
    transition: 0.3s;
    vertical-align: middle;
    background: #408858;
    border-radius: 0;
    border: none;
}
.btn:hover {
    color: #fff;
}
.btn::before {
    background: #fab522;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 50% 0 0;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
    border-radius: 0;
}
.btn:hover::before {
    transform: scaley(1);
}
.breadcrumb > .active {
    color: #888;
}

/* scrollUp */
#scrollUp {
    background: #f9bf26;
    height: 40px;
    width: 40px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 40px;
}
#scrollUp:hover {
    background: #06396a;
    color: #fff;
}
